 
 
 /* nav style  */
 
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* header */
.header{
  background-image: url(images/developer.png) ,url(images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  
}
 

  /* shared style  */
  .secondary-bg{
  background-color: #fff8f3;
  }
  .text-color{
    color:#FD6E0A ;
  }
   
 
 
 .dark2{
    color:#474747;
  }
  .btn-color{
    background-color:#FD6E0A ;
    font-size: 20px;
    font-weight: bold;
    width: 150px;
    height: 60px;
      border-radius: 10px;
       cursor: pointer;
       border-color: aqua;
  
  }
.btn-color:hover{
  background-color: blueviolet;
  color: aliceblue;
}
 nav{
    display: flex;
   align-items: center;
   justify-content: space-between;
   margin: auto 200px ;
  
 
   
 }
 .nav-title{
    font-weight: 800;
    font-size: 45px;
}
 nav ul{
    display: flex;
    align-items:center;
   
 }
nav ul li{
    list-style: none;
    margin-right:50px;
    
    
}
nav li a{
    text-decoration: none;
    font-size: 20px;
  }  
  /* banner */
  .Banner-contenir{
    max-width: 580px;

  }
  .Banner{
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;

 }
 .Banner-pic{
   
 
 }
.Banner-greeting{
  font-size: 45px;
  font-weight: 600;
  
}
.Banner-title{
  font-weight: bold;
  font-size: 85px;
/* main */
}
main{
  max-width: 1100px;
  margin: 0 auto;
}
main section{
  margin-top: 130px;
  margin-bottom:  130px;
}


.about{
  border-radius: 10px;
   padding: 131px 156px ;
  text-align: center;
 
}
.about-items{
  display: flex;
   justify-content: space-around;
   font-style: italic;
   font-size:20px;
   font-weight:400;
}
 .item-description{
  font-weight:600;
 
 }
 .content{
  text-align: center;
  font-weight: 400;
  max-width: 600px;
  margin: auto;
  font-style: italic;
margin-bottom: 100px;
 }
/* .skill */
 .skill-continer{
  display: flex;
  gap: 24px;  
   /* margin-top: 130px;  */
   /* margin-bottom: 130px;  */
 }
 .skill{
  padding: 30px;
  box-shadow:0px 6px 50px 0px rgba(201, 189, 189, 0.692);
  border-radius: 5px;
 
 }
 .skill:hover{
  border: 4px powderblue solid;
  /* display:flex; */
 }
 /* resume section */
.resume-container{
  display: flex;
  gap: 24px;
  /* margin: 113px 2px; */
}
.resume-title{
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.experience-title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom:0px ;
  
}
.experience-description,.experience-sub-title {
  color: #474747;
}
 
.text-center{
  text-align: center;
  margin-top: 20px;
}
  /* footer */
   .footer-column{
  width:50% ;
   }
   footer{
    /* margin: 230px 230px; */
    padding: 130px 230px;
    display: flex;
    gap: 130px;
   }
  footer input[type="text"], footer input[type="email"], footer input[type="password"],footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding:10px 20px;
    margin-bottom: 24px;
    border: none;
  }
  